/// fonts
$defaultFont: sans-serif;
$textFont: 'Roboto Condensed', sans-serif;
$titleFont: 'Open Sans', sans-serif;

/// Colors
$white: #FFFFFF !default;
$black: #000000 !default;
$secondary-grey: #808080 !default;
$primary-yellow: #f2c50e !default;
$primary-red: #cc0000 !default;

/// Sizes for padding / margins etc
$xxs: 6px;
$xs: 10px;
$sm: 16px;
$md: 26px;
$lg: 36px;

/// font sizes
$font-extra-small: 10px;
$font-small: 12px;
$font-standard: 14px;
$font-medium: 16px;
$font-medium-line-height: $md;
$font-large: 22px;

/// font weights
$font-weight-bold: 700;

// Border sizes
$border-small:  1px;
$border-medium: 2px;
$border-large: 3px;

/// Breakpoints map
$breakpoint-small: 320px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

/// navigation-height
$nav-height: 80px;
