@import "shared.scss";

.Button {
  margin-top: $lg;
  width: 100%;
}

.Title {
  font-size: $lg;
  color: white;
  text-align: center;
  margin-bottom: $lg;

  span {
    color: $primary-yellow;
  }
}

.Error {
  color: $primary-red;
  text-align: center;
  margin-top: $md;
}

.SuccessText {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: $font-medium-line-height;
  text-align: center;
}
