@import "shared.scss";

.Form {

  input[type='text'],
  input[type='email'],
  textarea {
    display: block;
    width: 100%;
    padding: $xxs 0;
    font-size: $font-medium;
    color: $white;
    background: none;
    border: none;
    border-bottom: $border-small solid $white;
    box-sizing: border-box;
    height: $lg + $xxs;
    margin-bottom: $xs;

    &:focus {
      border-color: $primary-yellow;
      outline: 0;
    }
  }

  ::placeholder  {
    color: $white;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

}

.WithoutLabels {
  label {
    visibility: hidden;
    height: 0;
    margin-bottom: 0;
    display: block;
  }
}
