@import "shared.scss";

.Container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

  p {
    font-size: $font-small;
    color: #ccc;
    letter-spacing: $xxs / 2;
    margin-bottom: $sm;
    line-height: $font-medium-line-height;
    padding: 0 $sm;

    @include medium-large {
      font-size: $font-medium;
      margin-bottom: $md;
    }
    span {
      color: $primary-yellow;
    }
  }
}
