@import "shared.scss";

.Container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

  p {
    font-size: $font-medium;
    color: #ccc;
    letter-spacing: 3px;
    margin-bottom: $xs;
    line-height: $font-medium-line-height;
    &:last-child {
      margin-bottom: $lg;
    }
    span {
      color: $primary-yellow;
    }
  }
}
