@import "shared.scss";

.Container {
  height: 100vh;
  background: url('./images/sydney.jpg');
  background-size: cover;
}

.InnerContainer {
  background: rgba(0,0,0,.5);
  height: 100%;
}

.BannerContainer {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Banner {
  margin-top: -($nav-height);
  padding: 0 $md;
  h1 {
    text-align: center;
    color: $white;
    font-family: $titleFont;
    letter-spacing: $xxs / 2;
    font-weight: $font-weight-bold;
    font-size: $lg + $xxs;
    margin-bottom: $lg;
    line-height: inherit;

    span {
      color: $primary-yellow;
    }

    @include medium {
      font-size: $lg + $xs;
      margin-bottom: $md;
      line-height: $lg + $md;
    }

    @include large {
      margin-bottom: $lg;
      font-size: $lg * 2;
      letter-spacing: $xxs;
      line-height: inherit;
    }
  }
  p {
    font-size: $font-large;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: $xxs / 2;
    margin-bottom: $lg;
    line-height: $lg;

    @include medium {
      font-size: $font-medium + 3;
      letter-spacing: $xxs;
      line-height: inherit;
    }

    @include large {
      font-size: $font-medium + 3;
      letter-spacing: $xs;
      line-height: inherit;
      margin-bottom: ($lg + $md);
    }
  }
}

.Button {
  margin: 0 auto;
  display: inherit;
}
