@import "shared.scss";

$loadingIconSize: 17px;
$loadingIconThickness: 4px;
$loadingIconMargin: -(($loadingIconSize + $loadingIconThickness * 2) / 2);

.Button {
  height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  position: relative;
  padding: $sm $md;
  letter-spacing: 5px;
  border-radius: 50px;
  cursor: pointer;

  &:focus {
    outline:0;
  }

}

.Primary {
  composes: Button;
  color: $white;
  background-color: rgba(0,0,0,0.2);

  &:hover {
    background-color: rgba(0,0,0,0.5);
  }
}

.Secondary {
  composes: Button;
  color: $secondary-grey;
  background-color: $primary-background;
  border: 1px solid $secondary-grey;
}

.Disabled {
  background-color: rgba(0,0,0,0.2);
  border: 1px solid $secondary-grey;
  background: $black;
  cursor: default;
}

.Loading {
  composes: Button;
  color: transparent!important;

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: $loadingIconMargin 0 0 $loadingIconMargin;
    width: $loadingIconSize;
    height: $loadingIconSize;
    border-radius: 500rem;
    border: $loadingIconThickness solid rgba(0,0,0,.15);
  }

  &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: $loadingIconMargin 0 0 $loadingIconMargin;
    width: $loadingIconSize;
    height: $loadingIconSize;
    animation: button-spin .6s linear;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #FFF transparent transparent;
    border-style: solid;
    border-width: $loadingIconThickness;
    box-shadow: 0 0 0 1px transparent;
  }
}

@keyframes button-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
};
